@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&family=Fjalla+One&family=Roboto:wght@400&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
  background-color: rgb(32, 32, 32);
}

.webGL {
  min-width: 100vw;
  min-height: 100vh;
}

#loading-container {
  position: absolute;
  min-width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 1;
}

#loading-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

#loading-spinner div {
  transform-origin: 40px 40px;
  animation: spin 1.2s linear infinite;
}

#loading-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 19px;
  left: 39px;
  width: 2.75px;
  height: 7px;
  border-radius: 20%;
  background: rgba(255, 255, 255, 0.5);
}

#loading-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

#loading-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

#loading-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

#loading-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

#loading-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

#loading-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

#loading-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

#loading-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

#loading-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

#loading-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

#loading-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

#loading-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes spin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#car-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 17.5vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  text-align: left;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  padding-top: 1rem;
  -moz-column-gap: 1.3rem;
       column-gap: 1.3rem;
  padding-inline: 3.7rem;
}

#car-details {
  align-content: start;
  font-family: "Roboto", sans-serif;
}

#car-details p {
  font-size: 21px;
}

#detail,
#detail-number {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  font-size: 1.15rem;
}

#detail {
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}

#detail-number {
  color: rgba(255, 255, 255, 0.8);
}/*# sourceMappingURL=style.css.map */